@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}

.hero-gradient {
  background: linear-gradient(135deg, #0047ab 0%, #001f3f 100%);
}

.btn-primary {
  background: #0047ab !important;
  color: white !important;
}

.btn-primary:hover {
  background: #003d91 !important;
}
